{% extends 'base.html' %}

{% block title %}IST platform | Page Not Found{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="error-container mt-5">
                    <h1 class="display-4 text-danger">Oops! Page Not Found (404)</h1>
                    <p class="lead">The page you are looking for might have been removed or doesn't exist.</p>
                    <p>Please check the URL or go back to the home page.</p>
                    <a href="/" class="btn btn-primary mt-3">Go back to home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
