{% extends 'base.html' %}

{% block title %}IST platform | Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="error-container mt-5">
                    <h1 class="display-4 text-danger">Oops! Server Error (505)</h1>
                    <p class="lead">It seems we encountered an unexpected error.</p>
                    <p>Please try again later or contact our support team for assistance.</p>
                    <a href="/" class="btn btn-primary mt-3">Go back to home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
