{% extends 'base.html' %}

{% block title %}IST platform | Home{% endblock %}

{% block content %}
    <h1 class="text-center">Stock Price Prediction</h1>
    <form class="mt-4" method="GET" action="{{ stock_view }}">
        <div class="row">
            <div class="col-md-4">
                <label for="stock" class="form-label">Enter stock symbol:</label>
                <select class="form-control form-select" id="stock" name="stock">
                    <option value="AAPL" selected>Apple Inc. (AAPL)</option>
                    <option value="MSFT">Microsoft Corporation (MSFT)</option>
                    <option value="GOOG">Alphabet Inc. (GOOG)</option>
                    <option value="AMZN">Amazon.com, Inc. (AMZN)</option>
                    <option value="NVDA">NVIDIA Corporation (NVDA)</option>
                    <option value="TSLA">Tesla, Inc. (TSLA)</option>
                    <option value="BRK-B">Berkshire Hathaway Inc. (BRK-B)</option>
                    <option value="META">Meta Platforms, Inc. (META)</option>
                    <option value="TSM">Taiwan Semiconductor Manufacturing Company Limited (TSM)</option>
                    <option value="V">Visa Inc. (V)</option>
                    <option value="LLY">Eli Lilly and Company (LLY)</option>
                    <option value="UNH">UnitedHealth Group Incorporated (UNH)</option>
                    <option value="MC.PA">LVMH Moët Hennessy - Louis Vuitton, Société Européenne (MC.PA)</option>
                    <option value="JNJ">Johnson & Johnson (JNJ)</option>
                    <option value="JPM">JPMorgan Chase & Co. (JPM)</option>
                    <option value="XOM">Exxon Mobil Corporation (XOM)</option>
                    <option value="WMT">Walmart Inc. (WMT)</option>
                    <option value="TCEHY">Tencent Holdings Limited (TCEHY)</option>
                    <option value="NVO">Novo Nordisk A/S (NVO)</option>
                    <option value="MA">Mastercard Incorporated (MA)</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="investment" class="form-label">Enter investment amount:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="investment" name="investment" value="{{ investment }}"
                           placeholder="1000">
                </div>
            </div>
            <div class="col-md-4">
                <label for="days" class="form-label">Enter number of days:</label>
                <input type="number" class="form-control" id="days" name="days" value="{{ days }}" placeholder="7">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label for="profit_margin" class="form-label">Enter profit margin:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="profit_margin" name="profit_margin"
                           value="{{ profit_margin }}"
                           placeholder="20">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Predict</button>
    </form>
{% endblock %}