<!DOCTYPE html>
<html>
<head>
  <title>Stock Price Prediction</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Stock Price Prediction</h1>
    <form class="mt-4" method="GET" action="{% url 'stock_view'%}">
      <div class="row">
        <div class="col-md-4">
          <label for="stock">Enter stock symbol:</label>
          <select   class="form-control" id="stock" name="stock">
             <option value="AAPL" selected>Apple Inc. (AAPL)</option>
             <option value="MSFT">Microsoft Corporation (MSFT)</option>
             <option value="GOOG">Alphabet Inc. (GOOG)</option>
             <option value="AMZN">Amazon.com, Inc. (AMZN)</option>
             <option value="NVDA">NVIDIA Corporation (NVDA)</option>
             <option value="TSLA">Tesla, Inc. (TSLA)</option>
             <option value="BRK-B">Berkshire Hathaway Inc. (BRK-B)</option>
             <option value="META">Meta Platforms, Inc. (META)</option>
             <option value="TSM">Taiwan Semiconductor Manufacturing Company Limited (TSM)</option>
             <option value="V">Visa Inc. (V)</option>
             <option value="LLY">Eli Lilly and Company (LLY)</option>
             <option value="UNH">UnitedHealth Group Incorporated (UNH)</option>
             <option value="MC.PA">LVMH Moët Hennessy - Louis Vuitton, Société Européenne (MC.PA)</option>
             <option value="JNJ">Johnson & Johnson (JNJ)</option>
             <option value="JPM">JPMorgan Chase & Co. (JPM)</option>
             <option value="XOM">Exxon Mobil Corporation (XOM)</option>
             <option value="WMT">Walmart Inc. (WMT)</option>
             <option value="TCEHY">Tencent Holdings Limited (TCEHY)</option>
             <option value="NVO">Novo Nordisk A/S (NVO)</option>
             <option value="MA">Mastercard Incorporated (MA)</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="investment">Enter investment amount:</label>
          <input type="number" class="form-control" id="investment" name="investment" value="{{ investment }}">
        </div>
        <div class="col-md-4">
          <label for="days">Enter number of days:</label>
          <input type="number" class="form-control" id="days" name="days" value="{{ days }}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Predict</button>
    </form>
  </div>
</body>
</html>