{% extends 'base.html' %}

{% block title %}IST platform | Home{% endblock %}

{% block content %}
    <h1 class="text-center">Stock Price Prediction</h1>
    <form class="mt-4 needs-validation" method="GET" action="{{ stock_view }}" id="predictionForm" novalidate>
        <div class="row">
            <div class="col-md-4">
                <label for="stock" class="form-label">Choose stock:</label>
                <select class="form-control form-select" id="stock" name="stock">
                    <option value="AAPL">Apple Inc. (AAPL)</option>
                    <option value="MSFT">Microsoft Corporation (MSFT)</option>
                    <option value="GOOG">Alphabet Inc. (GOOG)</option>
                    <option value="AMZN">Amazon.com, Inc. (AMZN)</option>
                    <option value="NVDA">NVIDIA Corporation (NVDA)</option>
                    <option value="TSLA">Tesla, Inc. (TSLA)</option>
                    <option value="BRK-B">Berkshire Hathaway Inc. (BRK-B)</option>
                    <option value="META">Meta Platforms, Inc. (META)</option>
                    <option value="TSM">Taiwan Semiconductor Manufacturing Company Limited (TSM)</option>
                    <option value="V">Visa Inc. (V)</option>
                    <option value="LLY">Eli Lilly and Company (LLY)</option>
                    <option value="UNH">UnitedHealth Group Incorporated (UNH)</option>
                    <option value="MC.PA">LVMH Moët Hennessy - Louis Vuitton, Société Européenne (MC.PA)</option>
                    <option value="JNJ">Johnson & Johnson (JNJ)</option>
                    <option value="JPM">JPMorgan Chase & Co. (JPM)</option>
                    <option value="XOM">Exxon Mobil Corporation (XOM)</option>
                    <option value="WMT">Walmart Inc. (WMT)</option>
                    <option value="TCEHY">Tencent Holdings Limited (TCEHY)</option>
                    <option value="NVO">Novo Nordisk A/S (NVO)</option>
                    <option value="MA">Mastercard Incorporated (MA)</option>
                    <option value="PG">Procter & Gamble Company (PG)</option>
                    <option value="AVGO">Broadcom Inc. (AVGO)</option>
                    <option value="005930.KS">Samsung Electronics Co., Ltd. (005930.KS)</option>
                    <option value="HD">The Home Depot, Inc. (HD)</option>
                    <option value="600519.SS">Kweichow Moutai Co., Ltd. (600519.SS)</option>
                    <option value="NESN.SW">Nestlé S.A. (NESN.SW)</option>
                    <option value="ORCL">Oracle Corporation (ORCL)</option>
                    <option value="CVX">Chevron Corporation (CVX)</option>
                    <option value="MRK">Merck & Co., Inc. (MRK)</option>
                    <option value="ABBV">AbbVie Inc. (ABBV)</option>
                    <option value="KO">The Coca-Cola Company (KO)</option>
                    <option value="ASML">ASML Holding N.V. (ASML)</option>
                    <option value="PEP">PepsiCo, Inc. (PEP)</option>
                    <option value="COST">Costco Wholesale Corporation (COST)</option>
                    <option value="OR.PA">L'Oréal S.A. (OR.PA)</option>
                    <option value="IHC.AE">International Holding Company PJSC (IHC.AE)</option>
                    <option value="ROG.SW">Roche Holding AG (ROG.SW)</option>
                    <option value="ADBE">Adobe Inc. (ADBE)</option>
                    <option value="BAC">Bank of America Corporation (BAC)</option>
                    <option value="BABA">Alibaba Group Holding Limited (BABA)</option>
                    <option value="RMS.PA">Hermès International Société en commandite par actions (RMS.PA)</option>
                    <option value="TM">Toyota Motor Corporation (TM)</option>
                    <option value="NVS">Novartis AG (NVS)</option>
                    <option value="AZN">AstraZeneca PLC (AZN)</option>
                    <option value="CSCO">Cisco Systems, Inc. (CSCO)</option>
                    <option value="RELIANCE.NS">Reliance Industries Limited (RELIANCE.NS)</option>
                    <option value="MCD">McDonald's Corporation (MCD)</option>
                </select>

            </div>
            <div class="col-md-4">
                <label for="investment" class="form-label">Enter investment amount:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="investment" name="investment" value="{{ investment }}"
                           placeholder="1000" required>
                </div>
            </div>
            <div class="col-md-4">
                <label for="days" class="form-label">Enter number of days:</label>
                <input type="number" class="form-control" id="days" name="days" value="{{ days }}" placeholder="7"
                       required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label for="profit_margin" class="form-label">Enter profit margin:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="profit_margin" name="profit_margin"
                           value="{{ profit_margin }}"
                           placeholder="20" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Predict</button>
    </form>

    <script>
        function validateForm() {
            var stockInput = document.getElementById("stock");
            var investmentInput = document.getElementById("investment");
            var daysInput = document.getElementById("days");
            var profitMarginInput = document.getElementById("profit_margin");

            var valid = true;

            if (stockInput.value === "") {
                valid = false;
            }

            if (investmentInput.value === "") {
                valid = false;
            }

            if (daysInput.value === "") {
                valid = false;
            }

            if (profitMarginInput.value === "") {
                valid = false;
            }

            return valid;
        }
    </script>

{% endblock %}