{% extends 'base.html' %}

{% block title %}IST Platform | Predictions{% endblock %}

{% block content %}
    <h1 class="text-center">Stock Price Prediction</h1>
    <form class="mt-4 needs-validation" method="GET" action="{{ stock_view }}" novalidate>
        <div class="row">
            <div class="col-md-4">
                <label for="stock" class="form-label">Choose stock:</label>
                <select class="form-control form-select" id="stock" name="stock">
                    <option value="AAPL" {% if stock == 'AAPL' %}selected{% endif %}>Apple Inc. (AAPL)</option>
                    <option value="MSFT" {% if stock == 'MSFT' %}selected{% endif %}>Microsoft Corporation (MSFT)
                    </option>
                    <option value="GOOG" {% if stock == 'GOOG' %}selected{% endif %}>Alphabet Inc. (GOOG)</option>
                    <option value="AMZN" {% if stock == 'AMZN' %}selected{% endif %}>Amazon.com, Inc. (AMZN)</option>
                    <option value="NVDA" {% if stock == 'NVDA' %}selected{% endif %}>NVIDIA Corporation (NVDA)</option>
                    <option value="TSLA" {% if stock == 'TSLA' %}selected{% endif %}>Tesla, Inc. (TSLA)</option>
                    <option value="BRK-B" {% if stock == 'BRK-B' %}selected{% endif %}>Berkshire Hathaway Inc. (BRK-B)
                    </option>
                    <option value="META" {% if stock == 'META' %}selected{% endif %}>Meta Platforms, Inc. (META)
                    </option>
                    <option value="TSM" {% if stock == 'TSM' %}selected{% endif %}>Taiwan Semiconductor Manufacturing
                        Company Limited (TSM)
                    </option>
                    <option value="V" {% if stock == 'V' %}selected{% endif %}>Visa Inc. (V)</option>
                    <option value="LLY" {% if stock == 'LLY' %}selected{% endif %}>Eli Lilly and Company (LLY)</option>
                    <option value="UNH" {% if stock == 'UNH' %}selected{% endif %}>UnitedHealth Group Incorporated
                        (UNH)
                    </option>
                    <option value="MC.PA" {% if stock == 'MC.PA' %}selected{% endif %}>LVMH Moët Hennessy - Louis
                        Vuitton, Société Européenne (MC.PA)
                    </option>
                    <option value="JNJ" {% if stock == 'JNJ' %}selected{% endif %}>Johnson & Johnson (JNJ)</option>
                    <option value="JPM" {% if stock == 'JPM' %}selected{% endif %}>JPMorgan Chase & Co. (JPM)</option>
                    <option value="XOM" {% if stock == 'XOM' %}selected{% endif %}>Exxon Mobil Corporation (XOM)
                    </option>
                    <option value="WMT" {% if stock == 'WMT' %}selected{% endif %}>Walmart Inc. (WMT)</option>
                    <option value="TCEHY" {% if stock == 'TCEHY' %}selected{% endif %}>Tencent Holdings Limited
                        (TCEHY)
                    </option>
                    <option value="NVO" {% if stock == 'NVO' %}selected{% endif %}>Novo Nordisk A/S (NVO)</option>
                    <option value="MA" {% if stock == 'MA' %}selected{% endif %}>Mastercard Incorporated (MA)</option>
                    <option value="PG" {% if stock == 'PG' %}selected{% endif %}>Procter & Gamble Company (PG)</option>
                    <option value="AVGO" {% if stock == 'AVGO' %}selected{% endif %}>Broadcom Inc. (AVGO)</option>
                    <option value="005930.KS" {% if stock == '005930.KS' %}selected{% endif %}>Samsung Electronics Co.,
                        Ltd. (005930.KS)
                    </option>
                    <option value="HD" {% if stock == 'HD' %}selected{% endif %}>The Home Depot, Inc. (HD)</option>
                    <option value="600519.SS" {% if stock == '600519.SS' %}selected{% endif %}>Kweichow Moutai Co., Ltd.
                        (600519.SS)
                    </option>
                    <option value="NESN.SW" {% if stock == 'NESN.SW' %}selected{% endif %}>Nestlé S.A. (NESN.SW)
                    </option>
                    <option value="ORCL" {% if stock == 'ORCL' %}selected{% endif %}>Oracle Corporation (ORCL)</option>
                    <option value="CVX" {% if stock == 'CVX' %}selected{% endif %}>Chevron Corporation (CVX)</option>
                    <option value="MRK" {% if stock == 'MRK' %}selected{% endif %}>Merck & Co., Inc. (MRK)</option>
                    <option value="ABBV" {% if stock == 'ABBV' %}selected{% endif %}>AbbVie Inc. (ABBV)</option>
                    <option value="KO" {% if stock == 'KO' %}selected{% endif %}>The Coca-Cola Company (KO)</option>
                    <option value="ASML" {% if stock == 'ASML' %}selected{% endif %}>ASML Holding N.V. (ASML)</option>
                    <option value="PEP" {% if stock == 'PEP' %}selected{% endif %}>PepsiCo, Inc. (PEP)</option>
                    <option value="COST" {% if stock == 'COST' %}selected{% endif %}>Costco Wholesale Corporation
                        (COST)
                    </option>
                    <option value="OR.PA" {% if stock == 'OR.PA' %}selected{% endif %}>L'Oréal S.A. (OR.PA)</option>
                    <option value="IHC.AE" {% if stock == 'IHC.AE' %}selected{% endif %}>International Holding Company
                        PJSC (IHC.AE)
                    </option>
                    <option value="ROG.SW" {% if stock == 'ROG.SW' %}selected{% endif %}>Roche Holding AG (ROG.SW)
                    </option>
                    <option value="ADBE" {% if stock == 'ADBE' %}selected{% endif %}>Adobe Inc. (ADBE)</option>
                    <option value="BAC" {% if stock == 'BAC' %}selected{% endif %}>Bank of America Corporation (BAC)
                    </option>
                    <option value="BABA" {% if stock == 'BABA' %}selected{% endif %}>Alibaba Group Holding Limited
                        (BABA)
                    </option>
                    <option value="RMS.PA" {% if stock == 'RMS.PA' %}selected{% endif %}>Hermès International Société en
                        commandite par actions (RMS.PA)
                    </option>
                    <option value="TM" {% if stock == 'TM' %}selected{% endif %}>Toyota Motor Corporation (TM)</option>
                    <option value="NVS" {% if stock == 'NVS' %}selected{% endif %}>Novartis AG (NVS)</option>
                    <option value="AZN" {% if stock == 'AZN' %}selected{% endif %}>AstraZeneca PLC (AZN)</option>
                    <option value="CSCO" {% if stock == 'CSCO' %}selected{% endif %}>Cisco Systems, Inc. (CSCO)</option>
                    <option value="RELIANCE.NS" {% if stock == 'RELIANCE.NS' %}selected{% endif %}>Reliance Industries
                        Limited (RELIANCE.NS)
                    </option>
                    <option value="MCD" {% if stock == 'MCD' %}selected{% endif %}>McDonald's Corporation (MCD)</option>
                </select>

            </div>
            <div class="col-md-4">
                <label for="investment" class="form-label">Enter investment amount:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="investment" name="investment"
                           value="{{ investment }}"
                           step="0.01"
                           required>
                </div>
            </div>
            <div class="col-md-4">
                <label for="days" class="form-label">Enter number of days:</label>
                <input type="number" class="form-control" id="days" name="days" value="{{ days }}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Predict</button>
    </form>


    {% if results %}
        <div class="mt-5 row">
            <div class="col-6" style="float: left;">
                {#        <p>R2 score: {{ R2 }}</p>#}
                <table class="table">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            You invested ${{ investment }} in {{ stock }} stock for {{ days }} days.
                        </td>
                    </tr>
                    <tr>
                        <td>Buying Price for Today:</td>
                        <td>${{ results.0 }}</td>
                    </tr>
                    <tr>
                        <td>No. of Shares that you bought:</td>
                        <td>{{ bought_shares }} shares</td>
                    </tr>
                    <tr>
                        <td>Predicted Closing Price in {{ days }} days:</td>
                        <td>${{ results.1 }}</td>
                    </tr>
                    <tr>
                        <td>You Get:</td>
                        <td>${{ results.2 }} when you sell your shares.</td>
                    </tr>
                    </tbody>
                </table>

                {% if profit_loss > 0 %}
                    <div class="alert alert-success">
                        You might make a profit of ${{ profit_loss }}, which is {{ profit_loss_percent }}% of your
                        investment.
                    </div>
                {% elif profit_loss < 0 %}
                    <div class="alert alert-danger">
                        You might make a loss of ${{ profit_loss }}, which is {{ profit_loss_percent }}% of your
                        investment.
                    </div>
                {% else %}
                    <p>You broke even.</p>
                {% endif %}
            </div>
            <div class="col-6" style="float: right;">
                {% block Right_Plot %}
                    {% autoescape off %}
                        {{ plot_div_pred }}
                    {% endautoescape %}
                {% endblock Right_Plot %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% block Down_plot %}
                    {% autoescape off %}
                        {{ historical_plot }}
                    {% endautoescape %}
                {% endblock Down_plot %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 class="mb-3">{{ stock }} Stock Data for the last 5 days</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        {% for col in df_latest.columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, row in df_latest.iterrows %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    {% endif %}
{% endblock %}
