{% extends 'base.html' %}

{% block title %}IST Platform | Stock Suggestions{% endblock %}

{% block content %}
    <h1 class="text-center">Stock Suggestion</h1>
    <form class="mt-4" method="GET" action="{{ find_suitable_stocks }}">
        <div class="row">
            <div class="col-md-4">
                <label for="investment">Enter investment amount:</label>
                <input type="number" step="0.01" class="form-control" id="investment" name="investment" value="{{ investment }}">
            </div>
            <div class="col-md-4">
                <label for="days">Enter number of days:</label>
                <input type="number" class="form-control" id="time_interval" name="time_interval"
                       value="{{ time_interval }}">
            </div>
            <div class="col-md-4">
                <label for="days">Enter profit margin:</label>
                <input type="number" class="form-control" id="profit_margin" name="profit_margin"
                       value="{{ target_profit }}"
                       step="0.01">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Predict</button>
    </form>

    {% if suitable_stocks %}
        <h5 class="mt-5">Suitable Stocks</h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Potential Profit</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in suitable_stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>${{ stock.potential_profit|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}